body {
    font-family: Arial, Helvetica, sans-serif;
}

#everything {
}

.ring {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  display: inline-block

}

.red {
    position: absolute;
    top: 52%;
    left: 55%;
}

.green {
    position: absolute;
    top: 48%;
    left: 25%;
}

.heading {
    align-self: center;
    font-size: 60px;
}

.score {
    margin-top: 45px;
    position: absolute;
    top: 10%;
    left: 40%;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    gap: 500%;
    font-size: xx-large;
}

.buttons {
    position: absolute;
    top: 90%;
}

button {
    font-size: x-large;
}

#resultDisplay {
}

