body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


.heading {
    align-self: center;
    font-size: 60px;
}

.score {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    gap: 200px;
    padding: 10px;
    font-size: 100px;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    padding: 40px;
}

button {
    font-size: x-large;
}

#resultDisplay {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

